<div class="card">
    <div class="card-header">
        <h2>{{isEditing ? 'Edit Employee' : 'Add New Employee'}}</h2>
    </div>
    <div class="card-body">
        <form (ngSubmit) = "onSubmit()">
           <div class="image-form-container">
            <div class="image-section">
                @if(model.imageUrl){
                    <img src={{model.imageUrl}}  alt={{model.name}} class="employee-picture">
                } @else{
                    <img src="https://media.istockphoto.com/id/1337144146/vector/default-avatar-profile-icon-vector.jpg?s=612x612&w=0&k=20&c=BIbFwuv7FxTWvh5S3vB6bkT0Qv8Vn8N5Ffseq84ClGI="  class="employee-picture">
                }
            </div>

        <div class="form-section">
            <div class="mb-3">
            <label class="form-label">Name</label>
            <input type="text" class="form-control" [(ngModel)] = "model.name" name="name" required>
            </div>

            <div class="mb-3">
            <label class="form-label">Email</label>
            <input type="email" class="form-control" [(ngModel)] = "model.email" name="email" required>
            </div>

            <div class="mb-3">
            <label class="form-label">Job Title</label>
            <input type="text" class="form-control" [(ngModel)] = "model.jobTitle" name="jobTitle" required>
            </div>

            <div class="mb-3">
            <label class="form-label">Phone Number</label>
            <input type="text" class="form-control" [(ngModel)] = "model.phoneNumber" name="phoneNumber" required>
            </div>

            <div class="mb-3">
            <label class="form-label">Image URL</label>
            <input type="text" class="form-control" [(ngModel)] = "model.imageUrl" name="imageUrl" required>
            </div>

            <div class="mb-3">
            <label class="form-label">Employee Code</label>
            <input type="text" class="form-control" [(ngModel)] = "model.employeeCode" name="employeeCode" required>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">
                    {{isEditing ? 'Update' : 'Create'}} Employee
                </button>
                @if (isEditing) {
                <button type="button" class="btn btn-secondary" (click)="resetForm()">
                    Cancel
                </button>
                }
            </div>
            </div>
        </div>
        </form>
    </div>
</div>
